MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/taskmanager?retryWrites=true&w=majority
AUTH_SECRET=
AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ADMIN_EMAIL=
GEMINI_API_KEY=
CRON_SECRET=
